<div class="col-sm">
  <a id="projects{{id}}" class="projects" href="/dashboard/projects/{{id}}">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2>{{title}}</h2>
        </div>
        <div class="col-sm">
          <h2>{{format_time createdAt}}</h2>
        </div>
      </div>
    </div>
  </a>
</div>