Here I am taken to a place where a user can make posts about their blogs

{{!-- <section id="">

</section> --}}


post title
contents
post creator’s username
date created
Option to leave comment

WHEN I enter a comment and click on the submit button while signed in

the comment is saved and the post is updated to display the comment, the comment creator’s username, and the date created