<div class="main-project-container">
    {{#if projects}}
    {{#each projects as |project|}}
    {{> project-details}}
    {{/each}}
    {{else}}
    <p>No projects yet created</p>
    {{/if}}
</div>